
.formpopup .outer{
	background: rgba(254, 254, 254, 0.8);
/*    background: #FEFEFE;*/
	padding: 15px;
	margin: 20px;
	border-radius: 10px;
	margin-right: 15px;
}

 .formpopup .img-st{
position: absolute;
    top: 42px;
    left: 54px;
    width: 347px;
}

 .formpopup .outer .heading-1{
	font-size: 20px;
	text-align: center;
	color: #333333;
}

 .main-headin{
	text-align: center;
	color: #b11116 !important;

}
 .formpopup h1{
    color: #b11116 !important;
    font-size: 36px;
    font-weight: 700 !important;
    margin-bottom: 0px;
}

 .formpopup .outer .heading-2{
	text-align: center;
	font-weight: 700;
	color: #333333;
	font-size: 30px;
}

.formpopup .outer .form-control{
	border: 1px solid #FECC00;
    border-radius: 4px;
}